<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                저는 어플을 만드는 과정이 재미있고 즐겁습니다. 또한 다 만든 어플을 직접 사용해보면서 느껴지는 뿌듯한 기분을 느낄 때 행복합니다. 저는 네이티브 Kotlin과 하이브리드 FLutter를 사용하여 어플을 개발하였으며 백엔드와 협업하여 통신한 경험을 가지고 있습니다. 
            </p>
            <p class="paragraph-text justify-text">
                My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday basis. I promote, support and use free and open source software to the extent possible.
            </p>
            <p class="paragraph-text justify-text">
                저는 작은 <a href="https://velog.io/@shin75492">블로그</a>에 프로젝트를 진행하며 배운 점과 어려웠던 점 이 외에도 다양한 글들을 기록해두었습니다. 또한 최신기술에 대한 관심이 있어 그것들에 대해 학습하고 실용성이 있는 지 등에 생각을 기록해두곤 합니다. 아래에서는 저의 프로젝트 경험을 확인하실 수 있습니다. 
            </p>
        </div>
    </section>
</div>
